{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Chat{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="card col-md-12 mt-5 p-3 shadow-sm">
		<h5>{% if chat.recipient.user.username == request.user.username %}
			<a class="button" href="{{ chat.user.get_absolute_url }}">@{{ chat.user.user.username }}</a>
                    {% else %}
		    	<a class="button" href="{{ chat.recipient.get_absolute_url }}">@{{ chat.recipient.user.username }}</a>
                    {% endif %}
                </h5>
            </div>
        </div>
        {% if message_list.all.count == 0 %}
            <div class="row my-5">
                <div class="col-md-12">
                    <p class="empty-text">No messages</p>
                </div>
            </div>
        {% endif %}
        {% for message in message_list %}
        <div class="row">
            <div class="col-md-12 my-1">
                <div class="sent-message my-2">
                    <p><small><b>{{ message.sender_user.user.username }}</b> | {{ message.date }} {% if message.is_edit %}(edited){% endif %}</small></p>
                    <p> {{ message.body|linebreaks }}</p>
                    <small><a href="{% url 'message_edit' message.id %}">Edit</a></small> |
                    <small><a href="{% url 'message_delete' message.id %}">Delete</a></small>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="card col-md-12 p-3 shadow-sm">
                <form method="post" action="{% url 'create_message' chat.pk %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div clas="d-grid gap-2 mt-3">
                        <input type="submit" class="btn btn-light" value="Send a message">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
