{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Inbox{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-5">
                <h3>Your chats</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 p-5">
                <form method="get" action="{% url 'create_chat' %}">
                    <input type="submit" class="btn btn-light p-3" value="Start a conversation">
                </form>
            </div>
        </div>
        {% for chat in chats.all %}
        <div class="row mb-3">
            <div class="card col-md-12 p-5 shadow-sm">
                {% if chat.recipient.user.username == request.user.username %}
                <div class="col-md-4 col-lg-1"><img class='small_avatar' src="{{ chat.user.avatar.url }}">
                <a class="stretched-link" href="{{ chat.get_absolute_url }}">
                    <h5>{{ chat.user.user.username }}</h5>
                </a>
                {% else %}
                <div class="col-md-4 col-lg-1"><img class='small_avatar' src="{{ chat.recipient.avatar.url }}">
                <a class="stretched-link" href="{{ chat.get_absolute_url }}">
                    <h5>{{ chat.recipient.user.username }}</h5>
                </a>
                {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
