{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ book.title }}{% endblock %}

{% block content %}
    <div class="container">
        {% if book.cover %}<img src="{{ book.cover.url }}" class="bookcover" alt="{{ book.title }}">{% endif %}<br>
        <h3>{{ book.title }} | Author: <a href="{{ book.author.get_absolute_url }}">{{ book.author.user.username }}</a> | Genre: {{ book.genre }}</h3><br>
        <h5>{{ book.subtitle }}</h5><br><hr>
        {% if user.is_authenticated %}<h3><a href="{{ book.file.url }}">Read book</a></h3><br>{% endif %}
        <h3>Short description: </h3>
        <p>{{ book.description|linebreaks }}</p>
        <hr>
        <h1>Comments: </h1>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Save" class="btn btn-success">
        </form>
        <br>
        {% for comment in book.comment_set.all %}
        <p><b><a href="{{ comment.author.get_absolute_url }}">{{ comment.author }}</a></b> | {{ comment.created_on }}</p>
        <p> {{ comment|linebreaks }}</p>
        {% endfor %}
    </div>
{% endblock %}
